/* SVGList.module.css */
.svgItem {
    background-color: #444;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
    border: 2px solid transparent;
  }
  
  .svgItem:hover {
    transform: scale(1.05);
    border: 2px solid #ff6347; /* Highlight the item on hover */
  }
  
  .fileNameInput {
    background-color: #555;
    border: none;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .svgDisplay {
    margin: 10px 0;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 10px;
    background-color: #222;
  }
  
  .colorPickerContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .deleteButton {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  